<section id="hero" style="background-color: rgb(231, 245, 231);">
    
            <div class="" >
                
                    <h2>Welcome To Web Hospital</h2>
                    <div>
                        
                        <img src ="assets/homepage/homepage.jpg" style=" display: block;margin-left: auto;margin-right: auto;" alt="hospital img" width="600px" height="350px">
                        
                    </div>
                        <div>
                            <h5>Briefing Of The Hospital:</h5>
                        
                            <p> The main function of a hospital is to provide the population with complete health care; it also functions as the centre for the training of health workers. A hospital is generally a vital part of a social and medical organization.
                                hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching. hospital.
                            </p>
                        </div>
            </div>
</section>